.aboutme
  margin 0 auto
  max-width 80vw
  display grid
  grid-template-columns 1fr 350px
  grid-column-gap 2rem
  align-items center

.abouteme__article__title
  text-align left

.abouteme__article__text
  line-height 1.2rem
  text-align left
  &:first-letter
    font-size 4em
    float:left
    margin-top .1em


.atoubme__photo_image
  border-radius 50%

@media (max-width: 768px)
  .aboutme
    grid-template-columns auto
    grid-template-rows auto
    max-width  100vw

    .atoubme__photo_image
      max-width 150px
      margin-bottom 1rem