$--mobile-default-max-width = 800px
$--default-primary-color = #005f9e

$--primaryColor = #005f9e
$--ternaryColor = #FFFFFF
$--headerMenuColor = #014674
$--bgLeftMenuColor = #7C7B7B
$--leftMenuColorHover = #606060
$--leftMEnuColor = #FFFFFF
$--defaultText = #747474
$--navigatorColor = #EDEDED
$--defaultBgColor = #FFFFFF
$--fourthColor = #bce0fd
$--FifthColor = #000000


$--char-w = 1ch
$--gap = .5*$--char-w
$--n-char = 4
$--in-w = $--n-char*($--char-w + $--gap)
